@using Veterinary.Shared.Entities

@inject NavigationManager Navigation


<EditForm Model="Owner" OnSubmit="OnSubmit">

<DataAnnotationsValidator/>

<div class="mb-3">

   

    <div class="mb-3">

        <label>Nombre</label>
        <div>

            <InputText width="10" @bind-Value="Owner.FirstName" />

        </div>

    </div>


    <div class="mb-3">

    <label>Apellido</label>
    <div>

<InputText width="10" @bind-Value="Owner.LastName"/>

    </div>

</div>
        <label>Documento</label>
        <div>


            <InputText width="10" @bind-Value="Owner.Documento" />

        </div>

    </div>


    <div class="mb-3">

        <label>Telefono fijo</label>
        <div>

            <InputText width="10" @bind-Value="Owner.FixedPhone" />

        </div>

    </div>



    <div class="mb-3">

        <label>Móvil</label>
        <div>

            <InputText width="10" @bind-Value="Owner.CellPhone" />

        </div>

    </div>




    <button class="btn btn-primary" type="submit" >Guardar</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>


</EditForm>



@code {

    [EditorRequired]
    [Parameter]
    public Owner Owner { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

}
